{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}{% endblock %}
{% block content %}
  <main role="main" class="container">
      <div class="row">
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Об авторе
                              </div> 
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  Матвей Александрович.<br>
                                  Беларусь, Минск.<br>
                                  18 лет.
                              </div>
                          </li>
                      </ul>                                               
                  </div>                    
              </div>                
          </div>
          <div class="col-md-9">
              <div class="card-body">                    
                  <div class="card-text">
                      <p><a href="https://github.com/MatveiAleksandrovich">Меня</a> зовут Матвей Александрович. Живу и работаю в Минске. Хоккеист.
                        Решил, что хоккей это конечно хорошо, но образование должно быть. Поступил 
                        в БГУИР и он не оправдал надежд, уж очень всё старое и долгое... Начал искать
                        возможности учиться где-то ещё. Подвезло и попал на таргет Яндекс.Практикума в Инстаграме.
                        Начал учить С++ так как это проходили в университете, понял, что очень тяжело идёт и не особо
                        нравиться. Стал пробовать что-то ещё... И вот я уже на 5 спринте Back-end разработчика.
                        Хочется учиться и развиваться только больше, спасибо за это огромное наставникам, коллегам, 
                        ревьюерам, кураторам из Практикума. Больше можно прочитать <a href="/about/tech">здесь</a></p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %}