{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block header %}{% endblock %}
{% block content %}
  <main role="main" class="container">
      <div class="row">
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Технологии
                              </div> 
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  Тяжело, но ооочень интерестно...
                              </div>
                          </li>
                      </ul>                                               
                  </div>                    
              </div>                
          </div>
          <div class="col-md-9">
              <div class="card-body">     
                    Как я рассказывал на <a href="/about/author">этой</a> странице, сначала я начал изучать язык
                    С++, поэтому к Python я подошёл спокойно. Ну и как мы знаем: чем дальше в лес, тем больше дров.
                    Так что да, есть трудности с некоторыми темами - помогает усидчивость, настойчивость и конечно постоянная
                    поддержка со стороны команды Яндекс.Практикума и семьи. В создании этой страницы мне помогли хоть 
                    и не самые сложные инструменты, но очень полезные. Тяжело и долго давалось тестирование и создание профиля
                    пользователя, казалось,
                    что это конец... Но как это часто бывает после дождя - видна радуга. И моей радугой является эта страница  =)
                  <div class="card-text">
                      <p>
                      </p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %}