{% extends "base.html" %} 
{% block title %}Записи Ваших любимых авторов{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="container">

    {% include "menu.html" with index=True %}

        <h1>Записи Ваших любимых авторов:</h1>

        {% load cache %}
                {% cache 20 index %}
                {% for post in post_list %}
                {% include "post_item.html" with post=post %}
                {% endfor %}
                {% endcache %}

        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}

    </div>
{% endblock %} 